/* :root {
  --bg-color-nav: #ffffff;
  --main-color: rgb(255, 160, 0);
  --text-color: #010101;
  --line-color-nav: #181818;
  --Snd-color: #434343;
  --other-color: #666666;
  --big-font: 5rem;
  --h2-font: 2.3rem;
  --p-font: 1.3rem;
  --black1: #e8e1e1;
  --nav-bar-ul-li-a: #fff;
  --nav-bar-ul-li-a-hover: #c2c2c2;

  --bg-color-foot: #ffffff;
  --text-color-title-foot: #474747;
  --text-color-foot: #999999;
  --bg-color-whatsapp: rgb(31, 230, 99);
  --color-whatsapp: #fefefe;
  --font-size-whatsapp: 1em;

  --bg-color-form-bg: #212121;
  --bg-color-form: #ffffff;
  --bg-linear-form: linear-gradient(90deg, rgba(214, 0, 254, 1) 0%, rgba(136, 1, 254, 1) 77%);
  --color-title-form: #262626;
  --font-size-title-form: 1.7em;
  --font-size-title-phone-form: 1.6em;
  --font-color-label-form: #424242;
  --font-color-input-form: #1b1b1b;
  --font-color-input-placeholder-form: #c0c0c0;
  --bg-color-btn-form: linear-gradient(90deg, rgb(0, 254, 148) 0%, rgb(77, 1, 254) 77%);
  --bg-color-btnh-form: linear-gradient(90deg, rgb(0, 176, 103) 0%, rgb(51, 0, 168) 77%);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
}

p {
  line-height: 32px;
  line-height: 27px;
}


:root {
  --primary-color: #55c9cb;
  --secondary-color: #ffa500;
  --text-color: #252525;
  --bg-color: #ffffff;
  --footer-bg-color: #1a1f2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}