<!DOCTYPE html>
<html lang="en">

<head>
  <title>Espacios de Silicon Valley </title>
  <meta charset="UTF-8" />
  <meta name="description" content="...">
  <meta charset="UTF-8" />
  <meta name="description" content="It is the best application to interact with characters">
  <link rel="canonical" href="https://www.essentialloveapp.com" />

  <meta property="og:title" content="Essential Love">
  <meta property="og:description" content="It is the best application to interact with characters">

  <meta property="og:image" content="https://oanesf.github.io/essential-love-page-vanilla/img/screen.webp">
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:alt" content="Essential Love: It is the best application to interact with characters">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="apple-touch-icon" href="img/icon.ico">
  <link rel="apple-touch-icon-precomposed" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="60x60" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="76x76" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="114x114" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="120x120" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="128x128" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icon.ico">
  <link rel="icon" href="img/icon.ico" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Trispace:wght@100..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../styles/root.css" />
  <link rel="stylesheet" href="../styles/animations.css" />
  <link rel="stylesheet" href="../styles/animations.css" />
  <link rel="stylesheet" href="../styles/welcome.css" />
  <link rel="stylesheet" href="../styles/siteAndProjects.css" />
  <link rel="stylesheet" href="../styles/proyects.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
  <link rel="stylesheet" href="../styles/footer.css" />
</head>

<body>
  <header>
    <img class="logoimg" src="../assets/SVLogo.webp" alt="imgLogo" />
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a class="active" href="projects.html">Membresias</a>
        </li>
        <li>
          <a href="site.html">Espacios</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="cont-pro-title ">
      <div class="sec-title">
        <h1>Impulsate con nosotros</h1>
      </div>
    </section>
    <!-- <section class="cont-site">
      <h1>Nuestros Proyectos</h1>
      <article class="cont-info-site hidden">
        <img src="../assets/mobii.webp" alt="">
        <div class="info-site">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et deleniti cumque ducimus, deserunt molestias
            repellat excepturi ex neque architecto fugiat adipisci laborum, minus id quisquam assumenda nam autem
            aliquam?</p>
        </div>
      </article>
      <article class="cont-info-site hidden">
        <img src="../assets/screenEL.png" alt="">
        <div class="info-site">
          <h3>lorem</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui et deleniti cumque ducimus, deserunt molestias
            repellat excepturi ex neque architecto fugiat adipisci laborum, minus id quisquam assumenda nam autem
            aliquam?</p>
        </div>
      </article>
    </section> -->
    <section class="cont-membre">
      <article class="membre-title">
        <h2>Membresias De Aceleración</h2>
      </article>
      <div class="notification hidden-x card-animation">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <a class="notititle">Membresia "BÁSICA" de aceleración</a>
        <a class="notibody">Membresia de tipo DIANÓSTICO.</a>
        <a class="notibody">Incluye 2 pases para fundadores.</a>
        <a class="notibody">Mentorias.</a>
        <a class="notibody">Eventos de Networking.</a>
        <a class="notibody">Internet óptimo de de 200 mbps.</a>
        <a class="notibody">Hidratación y Free Coffe (Guayoyo).</a>
        <a class="notibody">Horario extendido de 8 a.m a 7 p.m de lunes a viernes.</a>
      </div>

      <div class="notification hidden-x card-animation">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <a class="notititle">Membresia "ACELERACIÓN TOTAL"</a>
        <a class="notibody">DIANÓSTICO de la startups.</a>
        <a class="notibody">Acceso al Hub.</a>
        <a class="notibody">Programa de actividades.</a>
        <a class="notibody">30 días intensivos de aceleración.</a>
        <a class="notibody">Incluye 2 pases para fundadores.</a>
        <a class="notibody">Mentorias.</a>
        <a class="notibody">Eventos de Networking.</a>
        <a class="notibody">Internet óptimo de de 200 mbps.</a>
        <a class="notibody">Hidratación y Free Coffe (Guayoyo).</a>
        <a class="notibody">Horario extendido de 8 a.m a 7 p.m de lunes a viernes.</a>
      </div>
    </section>
    <section class="cont-membre">
      <article class="membre-title">
        <h2>Membresias Para STARTUPS</h2>
      </article>
      <div class="notification hidden-x card-animation">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <a class="notititle">Plan "BÁSICA" de aceleración</a>
        <a class="notibody">Acceso a escritorios flexibles.</a>
        <a class="notibody">Internet óptimo de de 200 mbps.</a>
        <a class="notibody">Hidratación y Free Coffe (Guayoyo).</a>
        <a class="notibody">Horario extendido de 8 a.m a 7 p.m de lunes a viernes.</a>
        <a class="notibody">Nota: Aplica para quienes se aceleraron o están en proceso.</a>
      </div>

      <div class="notification hidden-x card-animation">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <a class="notititle">Plan "PROFESIONAL" de aceleración</a>
        <a class="notibody">Acceso a escritorios fijo.</a>
        <a class="notibody">Acceso a salas de reuniones (5 horas al mes).</a>
        <a class="notibody">Internet óptimo de de 200 mbps.</a>
        <a class="notibody">Hidratación y Free Coffe (Guayoyo).</a>
        <a class="notibody">Horario extendido de 8 a.m a 7 p.m de lunes a viernes.</a>
        <a class="notibody">Nota: Aplica para quienes se aceleraron o están en proceso.</a>
      </div>

      <div class="notification hidden-x card-animation">
        <div class="notiglow"></div>
        <div class="notiborderglow"></div>
        <a class="notititle">Plan "CORPORTATIVA" de aceleración</a>
        <a class="notibody">Acceso a oficinas privadas.</a>
        <a class="notibody">Acceso ilimitado a salas de reuniones.</a>
        <a class="notibody">Descuento en estudios creativos.</a>
        <a class="notibody">Internet óptimo de de 200 mbps.</a>
        <a class="notibody">Hidratación y Free Coffe (Guayoyo).</a>
        <a class="notibody">Horario extendido de 8 a.m a 7 p.m de lunes a viernes.</a>
        <a class="notibody">Nota: Aplica para quienes se aceleraron o están en proceso, así como empresas pequeñas (Este
          paquete se vende solo bajo revisiôn de GG).</a>
      </div>
    </section>

  </main>

  <footer>

    <ul class="social-icons">
      <li><a href="https://www.instagram.com/silicon.valleyvzla?igsh=ODFjcWF6MWJ3MnA0&utm_source=qr" target="_blank"
          class="fa-brands"><img src="../assets/svg/insta.svg" alt="instagram icon image" /></a></li>
    </ul>
    <ul class="contact-box">
      <li><a class="footer-element" href="tel:+58 4242115456" target="_blank">+58 414-2094996</a></li>
    </ul>
    <p class="footer-text">2024 | todos los derechos reservados</p>
    <a href="https://wa.me/+584242115456?Buenas tardes quiero preguntar sobre.." class="Scroll-top" target="_blank">
      <img src="../assets/svg/whatsapp.svg" alt="whatsapp icon">
    </a>
  </footer>
  <script src="../script/navbar.js"></script>
</body>

</html>