<!DOCTYPE html>
<html lang="en">

<head>
  <title>Espacios</title>
  <meta charset="UTF-8" />
  <meta name="description" content="...">
  <meta charset="UTF-8" />
  <meta name="description" content="Silicon Valley Zenith Hub">
  <link rel="canonical" href="https://www.eee.com" />

  <meta property="og:title" content="Espacios">
  <meta property="og:description" content="Silicon Valley Zenith Hub">

  <meta property="og:image" content="https://www.eeee.com/img/screen.webp">
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:image:alt" content="Silicon Valley Zenith Hub">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="apple-touch-icon" href="img/icon.ico">
  <link rel="apple-touch-icon-precomposed" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="60x60" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="76x76" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="114x114" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="120x120" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="128x128" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="167x167" href="img/icon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icon.ico">
  <link rel="icon" href="img/icon.ico" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Trispace:wght@100..800&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="../styles/root.css" />
  <link rel="stylesheet" href="../styles/animations.css" />
  <link rel="stylesheet" href="../styles/navbar.css" />
  <link rel="stylesheet" href="../styles/site.css" />
  <link rel="stylesheet" href="../styles/map.css" />
  <link rel="stylesheet" href="../styles/footer.css" />
</head>

<body>
  <header>
    <img class="logoimg" src="../assets/SVLogo.webp" alt="imgLogo" />
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a href="projects.html">Acelerar</a>
        </li>
        <li>
          <a href="innovation.html">Innovación</a>
        </li>
        <li>
          <a class="active" href="site.html">Espacios</a>
        </li>
        <li>
          <a href="contact.html">Contáctanos</a>
        </li>
      </ul>
    </nav>
  </header>


  <main>
    <section class="cont-site-header">
      <div>
        <h1>Nuestros <span>Espacios</span></h1>
      </div>
    </section>

    <section class="cont-site">
      <article class="cont-info-site ">
        <img src="../assets/sites/SV12.webp" alt="Sala Estudio De Grabación">
        <div class="info-site hidden">
          <h3>Estudio De Grabación y Podcast</h3>
          <ul>
            <li>
              Illuminación.
            </li>
            <li>
              Ingeniero en sonido.
            </li>
            <li>
              Internet óptimo de de 200 mbps.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Microfonía (micrófono condensador).
            </li>
            <li>
              Mobiliario.
            </li>
            <li>
              Video/Cámara.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>
      <article class="cont-info-site ">
        <img src="../assets/sites/SV21.webp" alt="Sala Estudio Fotográfico">
        <div class="info-site hidden">
          <h3>Estudio Fotográfico y TV</h3>
          <ul>
            <li>
              Illuminación.
            </li>
            <li>
              Fondos.
            </li>
            <li>
              Chroma key.
            </li>
            <li>
              Asistencia técnica.
            </li>
            <li>
              Área de maquillaje y cambios.
            </li>
            <li>
              Internet óptimo de de 200 mbps.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>
      <article class="cont-info-site">
        <img src="../assets/sites/salonOne.webp" alt="Sala De Reuniones">
        <div class="info-site hidden">
          <h3>Sala De Reuniones</h3>
          <ul>
            <li>
              Internet óptimo dedicado de 200 mbps.
            </li>
            <li>
              Pantalla y videoconferencia.
            </li>
            <li>
              Impresiones limitadas al mes.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>
      <article class="cont-info-site">
        <img src="../assets/sites/salonTwo.webp" alt="Sala Auditorio Para Eventos Y Workshops">
        <div class="info-site hidden">
          <h3>Auditorio Para Eventos y Workshops</h3>
          <ul>
            <li>
              Internet óptimo dedicado de 200 mbps.
            </li>
            <li>
              Pantalla y videoconferencia.
            </li>
            <li>
              Impresiones de color limitadas al mes.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>
      <article class="cont-info-site ">
        <img src="../assets/sites/salonThree.webp" alt="Sala Escritorios Fijo">
        <div class="info-site hidden">
          <h3>Escritorios Fijo</h3>
          <ul>
            <li>
              Internet óptimo dedicado de 200 mbps.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Almacenamiento personal.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>

        </div>
      </article>
      <article class="cont-info-site">
        <img src="../assets/sites/salonFour.webp" alt="Sala De Formación">
        <div class="info-site hidden">
          <h3>Sala De Formación</h3>
          <ul>
            <li>
              Internet óptimo dedicado de 200 mbps.
            </li>
            <li>
              Pantalla y videoconferencia.
            </li>
            <li>
              Pizarra de acrilico.
            </li>
            <li>
              Impresiones limitadas al mes.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>
      <article class="cont-info-site">
        <img src="../assets/sites/salaOne.webp" alt="Oficinas Privadas">
        <div class="info-site hidden">
          <h3>Oficinas Privadas</h3>
          <ul>
            <li>
              Internet óptimo dedicado de 200 mbps.
            </li>
            <li>
              Impresiones limitadas al mes.
            </li>
            <li>
              Hidratación y Free Coffe.
            </li>
            <li>
              Más servicios...
            </li>
            <li>
              Horario extendido de 8 a.m a 7 p.m de lunes a viernes.
            </li>
          </ul>
        </div>
      </article>

    </section>
    <article class="content-map">
      <h2>Estamos Ubicados</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.0376992350825!2d-66.84585046059057!3d10.49769436431644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a59b1f75ae1e5%3A0x124565c970e18c0a!2sParque%20Cristal%2C%20Avenida%20Francisco%20de%20Miranda%2C%20Caracas%201060%2C%20Miranda!5e0!3m2!1ses!2sve!4v1723835902220!5m2!1ses!2sve"
        style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
  </main>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-brand">
        <img src="../assets/SVLogo.webp" alt="Silicon Valley Zenith Hub Logo" class="footer-logo">
        <p>Campus for Startups</p>
      </div>

      <div class="footer-section">
        <h3>ACERCA DE</h3>
        <ul>
          <li><a href="contact.html">Conéctemonos</a></li>
          <li><a href="contact.html">Trabaja con Nosotros</a></li>
          <!-- <li><a href="#">Política de Privacidad</a></li> -->
        </ul>
      </div>

      <div class="footer-section">
        <h3>SERVICIOS</h3>
        <ul>
          <li><a href="projects.html">Aceleración para Startups</a></li>
          <li><a href="innovation.html">Innovación para Empresas</a></li>
          <li><a href="innovation.html">Innovación para Grandes Corporaciones</a></li>
          <li><a href="innovation.html">Red de Inversionistas</a></li>
          <li><a href="site.html">Coworking</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>REDES</h3>
        <div class="footer-social">
          <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
          <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
          <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="#" aria-label="Email"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Copyright © 2024 Silicon Valley Zenith Hub</p>
    </div>
    <a href="https://wa.me/+584242115456?text=Buenas%20tardes%20quiero%20preguntar%20sobre.." class="whatsapp-button"
      target="_blank" aria-label="Contactar por WhatsApp">
      <img src="../assets/svg/whatsapp.svg" alt="WhatsApp">
    </a>
  </footer>
  <script src="../script/navbar.js"></script>
</body>

</html>